# -------------------------------------------------
# Do NOT send any local environment files to the Docker daemon
# -------------------------------------------------
frontend/.env.local
frontend/.env.*
